@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
    background: #202124;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

body, button, input {
    font-family: 'Michroma', sans-serif;
}

input[type=file]::file-selector-button {
    color: white;
}

h1 {
    color: white;
}

#root, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#root {
    width: 50%;
}

form {
    width: 100%;
}

button {
    width: 100%;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 0;
    margin: 0;
}

input, button {
    margin: 2px 0;
}

#logIn {
    background: orange;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

#logIn:hover {
    background: black;
    color: white;
}

.hiddenClass {
    opacity: 0%;
}

h4 {
    color: darkred;
}