<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project V - Cadastro</title>
    <link rel="stylesheet" href="/style/cadastro.css">
</head>
<body>
    <div id="root">
        <h1>Create account</h1>
        <form action="/cadastro" method="post">
            <input type="text" name="user" id="user" placeholder="Usuário" value=<%= user %>>
            <input type="password" name="password" id="password" placeholder="Senha">
            <button type="submit" id="registerUser">Cadastrar</button>
        </form>
        <h4 class=<%=className%>>Usuário já cadastrado</h4>
    </div>
</body>
</html>