<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessão expirada</title>
    <link rel="stylesheet" href="/global.css">
</head>
<body>
    Sessão expirada. Redirecionando para o login...
    <script>
        function redirect() {
            document.location = '/login'
        }

        setTimeout(redirect, 3000)
    </script>
</body>
</html>