<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project V</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <form action="/login" method="post">
        <input
          required
          type="text"
          name="user"
          id="user"
          placeholder="Usuário"
          value="<%=user%>"
        />
        <input
          required
          type="password"
          name="password"
          id="password"
          placeholder="Senha"
        />
        <button id="logIn" class="action" type="submit">Entrar</button>
      </form>

      <form action="/cadastro" method="get">
        <button id="signIn" type="submit">Cadastrar</button>
      </form>

      <h4 class="<%=className%>">Senha incorreta</h4>
    </div>
  </body>
</html>
