<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project V</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <form action="/login" method="get">
        <input type="text" name="user" id="user" placeholder="User" value=<%= user %>>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <button id="logIn" type="submit">Log in</button>
        <h4 class=<%= erro %>>Senha incorreta</h4>
      </form>
    </div>
  </body>
</html>
