<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modificar usuários</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <h2>Modificar usuários</h2>
      <h3><a href="/painel-do-administrador">Voltar</a></h3>

      <% for(var i = 0; i < data.length; i++) { %>
      <div class="box">
        <a href="/modificar/usuarios/<%=data[i]._id%>"><%= data[i]._id %></a><%=
        data[i].name %>
      </div>

      <% } %>
    </div>
  </body>
</html>
