<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil - <%= user %></title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <h2><%= user %></h2>
      <h3><a href="/perfil/editar">Editar perfil</a></h3>
      
      <form action="/roles" method="get">
        <button type="submit">Rolês</button>
      </form>
      <form action="/usuarios" method="get">
        <button type="submit">Membros</button>
      </form>

      <form action="/logout" method="get">
        <button id="logout" type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
