<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project V - Register</title>
    <link rel="stylesheet" href="/style/register.css">
</head>
<body>
    <div id="root">
        <h1>Create account</h1>
        <form action="/register" method="get">
            <input type="text" name="user" id="user" placeholder="User" value=<%= user %>>
            <input type="text" name="password" id="password" placeholder="Password">
            <input type="text" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
            <button type="submit" id="registerUser">Register</button>
        </form>
    </div>
</body>
</html>