<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rolês</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <h2>Rolês</h2>
      <h3><a href="/perfil">Voltar</a></h3>
      <form action="/roles/criar" method="get">
        <button class="action" type="submit">Criar</button>
      </form>

      <ul>
        <% for (var i = 0; i < newListItems.length ; i++) { %>
        <div class="box">
          <li style="color: orange; font-weight: bold">
            <a class="standardLink" href="/role/<%=newListItems[i].id%>"
              ><%= newListItems[i].nomeRole %></a
            >
          </li>
          <li>
            <%= newListItems[i].dateRole %> às <%= newListItems[i].timeRole %>
          </li>
        </div>
        <% } %>
      </ul>
    </div>
  </body>
</html>
