<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuários</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div id="root">
      <h1>Project V</h1>
      <h2>Usuários</h2>
      <h3><a href="/perfil">Voltar</a></h3>
      <ul>
        <% for (var i = 0; i < newListItems.length ; i++) { %>

        <div class="box">
          <li
            style="
              color: orange;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            "
          >
            <img
              style="border: none; max-width: 50px"
              class="picture"
              src="<%= newListItems[i].picture %>"
              alt=""
            />
            <%= newListItems[i].nickname %>
          </li>
          <li><%= newListItems[i].name %>, <%= newListItems[i].age %></li>
        </div>

        <% } %>
      </ul>
    </div>
  </body>
</html>
