@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

body {
  background: #202124;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

body,
button,
input {
  font-family: "Michroma", sans-serif;
}

.hiddenClass {
  visibility: hidden;
}

#root {
  width: 80%;
  height: 100%;
}

h1 {
  color: white;
}

h2 {
  color: orange;
}

h4 {
  color: darkred;
}

input, select {
  margin: 4px 0;
}

button {
  margin: 4px 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: white;
  color: black;
}

button:hover {
  background: black;
  color: white;
}

button.action {
  background: darkgreen;
  color: white;
}

button.action:hover {
  background: black;
  color: lightgreen;
  font-weight: bold;
}

button.warning {
  background: darkred;
  color: white;
}

button.warning:hover {
  background: black;
  color: red;
}

a {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form button,
form input,
form select {
  min-width: 300px;
}

.standardLink {
  text-decoration: underline;
  color: orange;
}

.box,.boxRole {
  border: 1px solid white;
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#painelDoAdministrador {
  background: darkcyan;
  color: white;
}

#painelDoAdministrador:hover {
  background: black;
  color: lightcyan;
}

#participantesRole{
  margin: 0px;
  padding: 0px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(46, 46, 46);
  border: 2px solid rgb(46, 46, 46);
  border-radius: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s
}

#participantesRole:hover{
  background: #202124;
  cursor: pointer;
}

svg {
  margin: 10px;
  width: 20px;
  height: 20px;
}

select {
  font-family: "Michroma", sans-serif;
  padding: 5px;
  border: none;
}